@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@media only screen and (max-width: 768px) {
  nav {
    justify-content: center;
    height: 50px !important;
    bottom: 0;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  nav p {
    display: none;
  }
  nav .Break {
    display: none;
  }
  ul {
    display: none;
  }
  nav .Menu {
    display: flex !important;
    background-color: #f0f8ff00;
    width: 60%;
    justify-content: space-between;
  }
  nav .Menu svg {
    font-size: 20px;
    color: #8686f8;
    text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    filter: drop-shadow(2px 4px 6px #7b76a6);
  }
  /*------------------*/
  .Upper {
    height: 70vh !important;
    flex-direction: column !important;
    align-items: center;
    justify-content: center !important;
  }
  .Heading {
    margin-left: 0px !important;
    align-self: center;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .Heading .Image {
    display: block !important;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: 1px #000;
    margin-top: 2%;

    background-position: center;
    background-size: cover;
    background-image: url('./assets/images/ring-pic.png');
  }
  .Heading hr {
    height: 1px !important;
    width: 50%;
    background-color: #000;
    opacity: 0.1;
  }
  .Description {
    font-size: 13px !important;
    width: 60% !important;
    margin-inline: 10%;
    margin-top: 10%;
    order: 1;
  }
  h1 {
    font-size: 35px !important;
    margin-top: 0px !important;
    order: -1;
  }
  h5 {
    font-size: 13px !important;
    order: -1;
  }
  .Unnecessary {
    font-size: 10px !important;
    order: -1;
    margin-bottom: 10%;
  }
  /*------------------*/
  .Portrait {
    display: none;
  }
  /*------------------*/
  .Footer {
    background-color: #202227;
    height: 400px !important;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center !important;
  }
  .Footer .Info {
    text-align: center !important;
    align-self: center;
    color: rgb(77, 77, 77);
  }
  .Footer .Info h5 {
    font-size: 10px !important;
  }
  .Footer .Info h2 {
    font-size: 20px !important;
  }
  .Footer .Info p {
    font-size: 10px !important;
    align-self: center;
    width: 100% !important;
  }
  .Footer .Info a {
    color: #e9e9e9;
    text-decoration: underline;
  }
  .Footer hr {
    display: block !important;
    height: 1px !important;
    opacity: 0.1;
  }
  .Socials {
    margin-left: 0px !important;
  }
  .Socials .Icons {
    justify-content: space-between;
  }
  .Socials .Icon {
    font-size: 20px !important;
    margin-inline: 10px;
  }
  .Socials p {
    font-size: 10px !important;
    text-align: center;
  }
  .Socials p i {
    color: rgb(253, 80, 80);
  }
  /*------------------*/
  .Disclaimer {
    font-size: 10px !important;
  }
  /*------------------*/
  .Info {
    margin-left: 10vw;
    margin-right: 10vw;
    text-align: left;
    align-self: center;
    color: rgb(77, 77, 77);
  }
  .Info h5 {
    font-size: 10px !important;
  }
  .Info h2 {
    font-size: 20px !important;
  }
  .Info p {
    font-size: 14px !important;
    color: black;
    letter-spacing: 0.5px !important;
  }
  .Images {
    flex-direction: column !important;
    margin-right: 10vw;
  }
  .Images .Card {
    width: 100% !important;
    height: 100px !important;
    margin-bottom: 10%;
  }
  /*------------------*/
  .Projects {
    margin-top: -15% !important;
  }
  .Projects .Info {
    text-align: left;
    align-self: center;
    color: rgb(77, 77, 77);
  }
  .Projects .Info h5 {
    font-size: 10px !important;
  }
  .Projects .Info h2 {
    font-size: 20px !important;
  }
  .Projects .Info p {
    width: 100% !important;
  }
  .Projects .Repositories {
    flex-direction: column;
    margin-right: 10vw;
  }
  .Projects .Repo {
    width: 100%;
    margin-bottom: 5%;
  }
  .Projects .Repo div {
    font-size: 10px !important;
    align-self: center;
  }
  .Projects .Repo span {
    font-size: 15px !important;
  }
}

* {
  font-family: 'Inter', sans-serif;
}
html {
  width: 100%;
}
path {
  transition: all 0.3s ease 0s;
}
hr {
  margin-left: 10vw;
  margin-right: 10vw;
  border: none;
  height: 1px;
  background-color: #EAEAEA;
  margin-top: 5vh;
  margin-bottom: 5vh;
}
/*------------------*/
nav {
  position: fixed;
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
}
nav p {
  margin-left: 10vw;
}
nav .Break {
  width: 1px;
  height: 40%;
  margin-left: 3vw;
  background-color: #D9D9D9;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  margin-left: 3vw;
  float: left;
  display: block;
  text-decoration: none;
  color: rgb(77, 77, 77);
  font-weight: 300;
  cursor: pointer;
}
nav .Menu {
  display: none;
}
/*------------------*/
.Upper {
  background: rgb(220,234,255);
  background: radial-gradient(circle, rgba(220,234,255,1) 0%, rgb(238, 238, 238) 60%);
  height: 100vh;
  width: 100%;

  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.Heading {
  margin-left: 10vw;
}
.Heading .Image {
  display: none;
}
.Heading hr {
  display: none;
}
.Description {
  font-weight: 200;
  font-size: 1.2vw;
  width: 50%;
}
h1 {
  font-size: 4.5vw;
  font-weight: 800;
  background: linear-gradient(180deg, rgba(105,128,252,1) 0%, rgba(45,64,165,1) 100%);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  margin-bottom: 0;
}
h5 {
  font-weight: 500;
  font-size: 1.5vw;
  color: rgb(77, 77, 77);
  margin-top: 0;
  margin-bottom: 0;
}
.Unnecessary {
  color: rgb(77, 77, 77);
  font-size: 0.9vw;
}
/*------------------*/
.Portrait {
  width: 50vw;
  height: 100%;
  margin-top: 17vh;
}
/*------------------*/
.Disclaimer {
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  margin: 0;
  margin-top: 5vh;
  color: #717171;
}
/*------------------*/
.Text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Info {
  margin-left: 10vw;
  margin-right: 10vw;
  text-align: left;
  align-self: center;
  color: rgb(77, 77, 77);
}
.Info h5 {
  font-weight: 800;
  font-size: 0.8vw;
  background: linear-gradient(180deg, rgba(105,128,252,1) 0%, rgb(178 189 248) 100%);
  background-clip: initial;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1px;
  margin-bottom: 10px;
}
.Info h2 {
  font-weight: 900;
  font-size: 2vw;
  margin-top: 0;
  color: #4f4f61;
  letter-spacing: -1.5px;
}
.Info p {
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 1px;
}
.Images {
  display: flex;
  flex-direction: row;
  margin-left: 10vw;
  margin-top: 2vw;
}
.Images .Card {
  width: 600px;
  height: 350px;
  overflow: hidden;
  background-size: contain;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  margin-right: 50px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
/*------------------*/
.Projects {
  background-color: #30333c;
  margin-top: -5%;
  padding-top: 15%;
  padding-bottom: 10%;
}
.Projects .Info {
  text-align: left;
  align-self: center;
  color: rgb(77, 77, 77);
}
.Projects .Info h5 {
  font-weight: 800;
  font-size: 0.8vw;
}
.Projects .Info h2 {
  font-weight: 900;
  font-size: 2vw;
  color: #e9e9e9;
}
.Projects .Info p {
  color: #e9e9e9;
  width: 80%;
}
.Projects .Repositories {
  margin-left: 10vw;
  margin-top: 3vw;
  display: flex;
}
.Projects .Repo {
  margin-right: 3vw;
}
.Projects .Repo div {
  border: 0px !important;
}
.Projects .Repo a {
  text-decoration: none;
}
.Projects .Repo span {
  align-self: center;
}
/*------------------*/
.Footer {
  background-color: #202227;
  height: 300px;
  display: flex;
  justify-content: space-between;
}
.Footer .Info {
  text-align: right;
  align-self: center;
  color: rgb(77, 77, 77);
}
.Footer .Info h5 {
  font-weight: 800;
  font-size: 0.8vw;
}
.Footer .Info h2 {
  font-weight: 900;
  font-size: 2vw;
  color: #e9e9e9;
}
.Footer .Info p {
  color: #e9e9e9;
  width: 60%;
  float: right;
}
.Footer .Info a {
  color: #e9e9e9;
  text-decoration: underline;
}
.Footer hr {
  display: none;
}
.Socials {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 10vw;
}
.Socials .Icons {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.Socials .Icon {
  font-size: 2.2vw;
  margin-right: 1vw;
  color: rgb(127 155 214);
}
.Socials p {
  font-weight: 200;
  font-size: 0.8vw;
  letter-spacing: 1px;
  color: #e9e9e9;
}
.Socials p i {
  color: rgb(253, 80, 80);
}